.content {
	flex: 1;
	background-color: var(--chat-bg-color);
	color: #fff;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.header {
	background-color: #252329;
	padding: 1.5rem;
	user-select: none;
	display: flex;
	align-items: center;
}
@media (min-width: 75em) {
	.header {
		padding: 2rem 7.8rem 1.4rem 7rem;
	}
}
.menu {
	margin-right: 2rem;
}
.conversation {
	flex: 1;
	margin: 0 0 2.8rem 0;
	overflow: hidden auto;
	padding: 4rem 2rem 0;
}
@media (min-width: 75em) {
	.menu {
		display: none;
	}
	.conversation {
		padding: 4rem 7.6rem 1.5rem 7rem;
	}
}
.footer {
	padding: 2rem;
}
.footerInner {
	height: 5.2rem;
	display: grid;
	grid-template-columns: 1fr 3.2rem 0.7rem;
	align-items: center;
}
@media (min-width: 75em) {
	.footer {
		padding: 0 7.8rem 3.5rem 7rem;
	}
}
.input {
	background-color: #3c393f;
	border-radius: 0.8rem;
	border: none;
	color: #fff;
	font: inherit;
	height: 100%;
	padding: 0 5rem 0 1.6rem;
	grid-row: 1;
	grid-column: 1 / -1;
}
.input:focus,
.btn {
	outline: none;
}
.btn {
	grid-row: 1;
	grid-column: 2 / 3;
}
.btn svg {
	transform: translateX(-2.5px) rotate(45deg);
	transition: transform 0.2s ease-in;
}
.btn:focus svg,
.btn:hover svg {
	transform: rotate(0deg);
}
