.profile {
	background-color: #333;
	color: #fff;
	min-height: 100vh;
	width: 100%;
	overflow-y: auto;
	padding-bottom: 4rem;
}
.header {
	max-width: 120rem;
	margin: 0 auto 2rem;
	padding: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.profile .header {
	position: relative;
}
.user-name {
	display: none;
}
@media (min-width: 37.5em) {
	.user-name {
		display: block;
		margin: 0 2rem 0 1.5rem;
	}
}
.btn--show-more {
	display: none;
}
@media (min-width: 37.5em) {
	.btn--show-more {
		display: block;
		position: relative;
	}
}
.btn--show-more > span {
	transform: rotate(180deg);
	pointer-events: none;
	transition: transform 0.3s ease-in;
}
.btn--show-more > span.rotate {
	transform: rotate(0deg);
}
.container {
	max-width: 85rem;
	margin: 4rem auto 0;
}
.profile .h1 {
	font-size: 2.4rem;
	font-weight: 400;
	margin: 0 0 1rem;
	text-align: center;
	text-transform: none;
}
.profile .description {
	font-size: 1.4rem;
	text-align: center;
}
@media (min-width: 37.5em) {
	.profile .h1 {
		font-size: 3rem;
	}
	.profile .description {
		font-size: 1.8rem;
	}
}
.profile .text-left {
	text-align: left;
}
.profile__container {
	max-width: 85rem;
	margin: 4rem auto 4rem;
	width: 100%;
}
@media (min-width: 37.5em) {
	.profile__container {
		border: 1px solid #e0e0e0;
		border-radius: 1.2rem;
	}
}
.profile__container-inner {
	padding: 3rem 4rem;
}
.profile__section {
	padding: 2.5rem 2rem;
	display: grid;
	grid-template-columns: 30% 1fr;
	align-items: center;
}
@media (min-width: 37.5em) {
	.profile__section {
		padding: 3rem 4rem;
	}
}
.profile__section:not(:last-child) {
	border-bottom: 1px solid #e0e0e0;
}
.profile__section--top {
	grid-template-columns: 60% 1fr;
}
.profile__section--top h2 {
	font-size: 2rem;
	font-weight: 400;
	margin: 0;
}
.profile__section--top p {
	font-size: 1.4rem;
}
@media (min-width: 37.5em) {
	.profile__section--top {
		grid-template-columns: 1fr 1fr;
	}

	.profile__section--top h2 {
		font-size: 2.4rem;
	}
	.profile__section--top p {
		font-size: 1.6rem;
	}
}
@media (min-width: 37.5em) {
	.profile__section--top .btn {
		justify-self: end;
	}
}
.profile__section-title {
	color: #bdbdbd;
	font-size: 1.5rem;
	margin: 0;
}
.profile__section-text {
	font-size: 1.4rem;
	margin: 0;
}
.profile__section:not(.profile__section--top) > *:last-child {
	text-align: right;
}
@media (min-width: 37.5em) {
	.profile__section:not(.profile__section--top) > *:last-child {
		text-align: left;
	}
	.profile__section-title {
		font-size: 1.8rem;
	}
	.profile__section-text {
		font-size: 1.6rem;
	}
}
.profile__form {
	margin-top: 3rem;
}
.form__image {
	display: grid;
	grid-template-columns: 7.2rem 1fr;
	align-items: center;
	gap: 2.5rem;
	margin-bottom: 3rem;
}
@media (min-width: 37.5em) {
	.form__image {
		grid-template-columns: 7.2rem 1fr auto;
	}
}
.profile__image-container {
	cursor: pointer;
	height: 7.2rem;
	width: 7.2rem;
	display: grid;
	grid-template-columns: 1fr;
}
.profile__image-container img {
	height: 100%;
	width: 100%;
	grid-row: 1;
	grid-column: 1;
}
.profile__image-container::after {
	content: '';
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 0.7rem;
	height: 100%;
	width: 100%;
	grid-row: 1;
	grid-column: 1;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}
.profile__image-container label {
	grid-row: 1;
	grid-column: 1;
	align-self: center;
	justify-self: center;
	cursor: pointer;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease, visibility 0.3s ease;
}
.profile__image-container:hover label {
	opacity: 1;
	visibility: visible;
}
.profile__image-container:hover::after {
	opacity: 1;
	visibility: visible;
}
.form__image-label {
	color: #b8b4b4;
	font: inherit;
	text-transform: uppercase;
}
.form__image .btn {
	grid-column: 1 / -1;
}
@media (min-width: 37.5em) {
	.form__image .btn {
		grid-column: 3;
	}
}
.profile .form__group {
	margin-bottom: 2.4rem;
	height: auto;
}
.profile .form__label {
	line-height: 2.5;
}
.profile .form__control {
	background: none;
	border: 1px solid #828282;
	border-radius: 1.2rem;
	color: #fff;
	display: block;
	font: inherit;
	padding: 1.5rem;
	width: 100%;
}
.profile .form__control:focus {
	border-color: var(--color-blue);
	outline: none;
}
.profile input.form__control {
	height: 5.2rem;
}
.profile textarea.form__control {
	height: 12rem;
	resize: none;
}
.profile .btn--back {
	margin-left: 2rem;
}
@media (min-width: 56.25em) {
	.profile .btn--back {
		margin-left: 0;
	}
}
