.overlay {
	background-color: rgba(0, 0, 0, 0.4);
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s;
	transition-delay: 0.3s;
}
.overlayShow {
	display: flex;
	opacity: 1;
	visibility: visible;
	transition-delay: 0s;
}
.sidebar {
	background-color: var(--sidebar-bg-color);
	color: #fff;
	height: 100%;
	flex: 0 0 30rem;
	overflow-x: hidden;
	width: 30rem;
	transform: translate3d(-100%, 0, 0);
	transition: transform 0.3s ease;
}

@media (min-width: 75em) {
	.overlay {
		background: none;
		height: auto;
		width: auto;
		position: unset;
		opacity: 1;
		visibility: visible;
	}
	.sidebar {
		flex: 0 0 32.4rem;
		width: 32.4rem;
		transform: none;
	}
}
.inner {
	background-color: var(--sidebar-bg-color);
	height: 100%;
	overflow: hidden auto;
	display: flex;
	flex-direction: column;
	transition-delay: 0s;
	transition: transform 0.3s ease;
}
.sidebarShow {
	transform: translate3d(0, 0, 0);
}
.show {
	animation: slide-right-in 0.3s ease-in;
}
.hide {
	animation: slide-right-out 0.3s ease-in;
}
@keyframes slide-right-in {
	from {
		transform: translate3d(100%, 0, 0);
	}
	to {
		transform: translate3d(0, 0, 0);
	}
}
@keyframes slide-right-out {
	from {
		transform: translate3d(0, 0, 0);
	}
	to {
		transform: translate3d(100%, 0, 0);
	}
}

.top {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
@media (min-width: 75em) {
	.top {
		padding: 1.6rem 2.5rem 1.6rem 3.2rem;
	}
}
.title {
	font-size: 1.8rem;
	line-height: 2.4rem;
	margin: 0;
	user-select: none;
	flex: 1;
}
@media (min-width: 75em) {
	.title {
		margin-left: 1rem;
		padding: 1.6rem 2.5rem 1.6rem 3.2rem;
	}
}
.space {
	margin: 1.9rem 0 3.4rem;
	padding: 0 2rem;
}
.channelInfo {
	margin: 2.5rem 0 4rem;
	padding: 0 2rem;
}
@media (min-width: 75em) {
	.space {
		padding: 0 2.5rem 0 3.2rem;
	}
	.channelInfo {
		padding: 0 3.2rem;
	}
}
.channelInfo h4 {
	color: #e0e0e0;
	font-size: 1.6rem;
	margin: 0 0 1.6rem;
	text-transform: uppercase;
}
.channelInfo p {
	color: #e0e0e0;
	font-size: 1.8rem;
	line-height: 2.5rem;
	margin: 0;
}
.membersTitle {
	color: #e0e0e0;
	font-size: 1.4rem;
	margin: 0 2rem 2rem;
	text-transform: uppercase;
}
.close {
	position: absolute;
	top: 1rem;
	right: 1rem;
}
@media (min-width: 75em) {
	.close {
		display: none;
	}
	.membersTitle {
		font-size: 1.6rem;
		margin: 0 3.2rem 2rem;
	}
}
.list {
	margin-bottom: 4rem;
}
