.sidebar__footer {
	background-color: #0b090c;
	margin-top: auto;
	padding: 1.5rem 2.5rem;
	position: relative;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	column-gap: 2.5rem;
}
.username {
	color: #828282;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
