.sidebar__footer {
	background-color: #0b090c;
	margin-top: auto;
	padding: 1.5rem 2.5rem;
	display: grid;
	grid-template-columns: auto 1fr auto;
	align-items: center;
	column-gap: 2.5rem;
}
.username {
	color: #828282;
	font-size: 1.5rem;
	font-weight: 700;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.popup-menu {
	background-color: #252329;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	border: 1px solid #3c393f;
	border-radius: 1.2rem;
	padding: 1.5rem;
	width: 19.2rem;
	position: absolute;
	right: 0;
	bottom: 100%;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s ease-in, visibility 0.3s ease-in;
}
.popup-menu.popup-menu--visible {
	opacity: 1;
	visibility: visible;
}
.popup-menu__option {
	font-size: 1.3rem;
	padding: 1rem;
	display: flex;
	align-items: center;
}
.popup-menu__option:hover {
	background-color: #3c393f;
}
.popup-menu__icon {
	margin-right: 1rem;
	width: 2rem;
}
.popup-menu__option:last-child {
	color: #eb5757;
}
